* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/images/background5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Helvetica;
    font-size: 25px;
}

header, nav {
    text-align: center;
}

li {
    background-color: dimgrey;
    display: block;
    padding: 14px 16px;
}

ul {
    list-style-type: none;
}

.project-img, li {
    display: inline;
}

#construction {
    font-weight: bolder;
    color: red;
}
