body {
    background-image: url(/images/background3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Helvetica;
    font-size: 25px;
    margin: 0px;
    padding: 0px;
}

header, nav {
    text-align: center;
}

.project-img, li {
    display: inline;
}

#construction {
    font-weight: bolder;
    color: red;
}
