body {
    background-image: url(/images/background4.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Helvetica;
}

li {
    display: inline;
}

header, nav {
    text-align: center;
}